/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

nav {
	white-space: nowrap;
}
nav a {
	text-decoration: none;
	color: #a6a6a6;
	font-size: 120%;
	margin: 4%;
}
nav img {
	margin-left: 5%;
	transform: translateY(25%)
}

#hero {
	margin-top: 10%;
}

#hero div {
	display: inline-block;
	margin: auto;
}

h1 {
	font-size: 500%;
	text-align: center;
	margin-top: -50%;
}
h2 {
	border: solid black 2px;
	font-family: 'Titillium Web', sans-serif;
	padding: 10px;
	text-align: center;
}



#above {
	width: 90%;
	margin: auto;
	border-top: black 1px solid
}
#above div {
	width: 45%;
	display: inline-block;
	margin: 2%;
}

main img {
	display: block;
	margin: auto;
}

#below {
	width: 90%;
	margin: auto;
	border-bottom: black 1px solid;
}
#below div {
	width: 29%;
	display: inline-block;
	margin: 2%;
}

footer {
	width: 90%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

#contact p {
	margin-top: 1%;
}

#copyright {
	width: 15%;
	margin: auto;
}